"use client";

import { ReactNode } from "react";
import styles from "./{{ pascalCase name }}.module.css";

type {{ pascalCase name }}Props = {
  className?: string;
}

export function {{ pascalCase name }}({ children, className }: {{ pascalCase name }}Props) {
  return (
    <div className={styles.container}>
      {{ pascalCase name }} works
    </div>
  );
};
